<ng-include src="'./static/jumbotron.html'"></ng-include>

<p>{{ page.pageParagraph }}</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Contact Form</h2>
      </div>
      <div class="panel-body">
        <form class="form contactForm" ng-submit="submit(contactForm)" name="contactForm" method="POST">
          <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name" ng-model="name">
          </div>
          <div class="form-group">
            <label class="sr-only" for="email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Email" ng-model="email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="subject">Subject</label>
            <input type="text" class="form-control" name="subject" placeholder="Subject" ng-model="subject">
          </div>
          <div class="form-group">
            <label class="sr-only" for="message">Message</label>
            <textarea rows="4" cols="50" class="form-control" name="message" placeholder="Please type your message here." ng-model="message">
            </textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default" ng-disabled="contactForm.$invalid">Send</button>
          </div>
          <div class="alert alert-{{ alert }}">
            <ul class="list-unstyled">
              <li ng-repeat="item in response">{{ item.msg }}</li>
            </ul>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
