@import "bootstrap-mod";

//variables
$mainColor: rgb(32, 31, 31);

// General styling
html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $mainColor;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

// Responsive navbar position
@media (max-width: 767px) {
  body {
    padding-top: 10px;
    padding-bottom: 70px;
  }
  .navbar-fixed-top{
    bottom: 0;
    top:initial;
    margin-bottom: 0;
    border-width: 1px 0 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    padding-top: 70px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    padding-top: 70px;
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: 70px;
  }
}

//Styling for headline on landing page and jumbotrons
%headline {
  text-align: center;
  h1, h2, h3, p {
    text-shadow: 0px 0px 10px black,
                 0px 0px 250px #4CAF50;
    color: white;
  }
}

// Positioning,etc. for background image
%backgroundImage {
  background-position: center;
  background-size: cover;
}

//Styling for landing page.
.landingContent {
  @extend %headline;
  padding-top: 20%;
  hr {
    width: 800px;
    border-top: 1px solid rgb(176, 236, 201);
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
}

.landingBackground {
  background-image: url("../images/walk2.jpg");
  @extend %backgroundImage;
  background-attachment: fixed;
  background-repeat: no-repeat;
  h1 {
    color: white;
  }
}

.jumbotron-home {
  background-image: url("../images/light.jpg");
  @extend %backgroundImage;
  @extend %headline;
}

.jumbotron-grass {
  background-image: url("../images/grass.jpg");
  @extend %backgroundImage;
  @extend %headline;
}

.jumbotron-walk {
  background-image: url("../images/walk.jpg");
  @extend %backgroundImage;
  @extend %headline;
}

.jumbotron-contact {
  background-image: url("../images/contact.jpg");
  @extend %backgroundImage;
  @extend %headline;
}

.jumbotron-walk2 {
  background-image: url("../images/walk2.jpg");
  @extend %backgroundImage;
  @extend %headline;
}

.sideBar{
  margin-bottom: 20px;
}

.sideBarItem {
  height: 30px;
  width: 115px;
  background-color: rgba(184, 226, 226, 0.58);
  margin: 1px 10px 5px 10px;
  padding: 5px;
  display: inline-block;
  border-radius: 5px;
  &:link{
    text-decoration: none;
  }
  &:hover {
    background-color: yellow;
  }
  &:focus {
    background-color: rgba(136, 246, 8, 0.73);
  }
}

.active {
  background: rgba(136, 246, 8, 0.73);
}

.fadeIn {
  animation: fadeIn 0.3s both ease-in;
  z-index: 8888;
}

/* animations --------------------------------------- */
/* fade In */
@keyframes fadeIn {
    from    {
      opacity: 0;
    }
}


// // variable
// $color: lightblue;
// $genericBtnColor: lightgreen;
// $letterColor: white;
//
// .testing {
//   width: percentage(5/7);
// }
//
// body {
//   background: $color;
// }
//
// h1 {
//   background-color: purple;
//   &.hello {
//     color: white;
//   }
// }
//
// button {
//   background: $genericBtnColor;
//   color: $letterColor;
// }
//
// .special{
//   @extend button;
//   color:purple;
// }
//
// @mixin circle($diameter: 100px, $radius: 100px, $color: yellow) {
//   width: $diameter;
//   height: $diameter;
//   border-radius: $radius;
//   border-color: gray;
//   background-color: $color;
// }
// .circle1 {
//   @include circle(200px, 200px, orange);
//   margin: 10px;
// }
// .circle2 {
//   @include circle;
//   margin: 10px;
// }
//
// %box {
//   width:150px;
//   height:130px;
//   border: 1px black solid;
// }
//
// .box1 {
//   @extend %box;
//   background-color: green;
//   margin:5px;
// }
// .box2 {
//   @extend %box;
//   background-color: $color;
//   margin: 10px;
// }
//
//
// .circle {
//     width: 100px;
//     height: 100px;
//     background: red;
//     transition: width 2s, height 4s;
//     &:hover {
//         width: 300px;
//         height: 300px;
//     }
// }
